.content {
  font-size: 1.125rem; /* text-lg */
  line-height: 1.75; /* leading-relaxed */
}

.content p,
.content ul,
.content ol,
.content blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; /* my-6 */
}

.content a {
  text-decoration: underline;
}

.content ul,
.content ol {
  padding-left: 1rem; /* pl-4 */
}

.content ul {
  list-style-type: disc;
}

.content ol {
  list-style-type: decimal;
}

.content ul > li > ul,
.content ol > li > ol {
  margin: 0;
  margin-left: 1rem; /* ml-4 */
}

.content ul > li > ul {
  list-style: circle;
}

.content h2 {
  font-size: 1.875rem; /* text-3xl */
  margin-top: 3rem; /* mt-12 */
  margin-bottom: 1rem; /* mb-4 */
  line-height: 1.375; /* leading-snug */
}

.content h3 {
  font-size: 1.5rem; /* text-2xl */
  margin-top: 2rem; /* mt-8 */
  margin-bottom: 1rem; /* mb-4 */
  line-height: 1.375;
}

.content h4 {
  font-size: 1.25rem; /* text-xl */
  margin-top: 1.5rem; /* mt-6 */
  margin-bottom: 1rem; /* mb-4 */
  line-height: 1.375;
}

.content pre {
  white-space: pre;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25; /* leading-tight */
  border: 1px solid #cbd5e1; /* approximate gray-400 */
  background-color: #f3f4f6; /* approximate gray-100 */
}

.content code {
  font-size: 0.875rem;
}

.content figcaption {
  text-align: center;
  font-size: 0.875rem;
}

.content blockquote {
  border-left: 4px solid #6b7280; /* gray-500 */
  background-color: #e5e7eb; /* gray-200 */
  font-style: italic;
  margin-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.content blockquote p {
  margin-top: 0;
}

.content blockquote cite {
  font-style: normal; /* not-italic */
}

.content audio {
  width: 100%;
}
